/* General Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f7;
}

.dashboard-container {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 15px;
    background-color: #333;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
}

/* Header */
.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.dashboard-header h1 {
    font-size: 24px;
}

.icon-bell,
.icon-profile {
    background-color: #555;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;

}

svg{
    margin: auto;
}
/* Dashboard Menu */
.dashboard-menu {
    margin: 20px 0;
}

.dashboard-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item-icon {
    width: 40px;
    height: 40px;
    /* background-color: #666; */
    border-radius: 50%;
}
.item-text{
    text-align: start;
}
.item-text p {
    margin: 0;
    font-size: 16px;
}

.item-text span {
    font-size: 18px;
    font-weight: bold;
}

/* Footer */
.dashboard-footer {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #222;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.footer-btn {
    background-color: #666;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.footer-btn.active {
    background-color: #00aaff;
}

.footer-btn:hover {
    background-color: #0077cc;
}

/* Responsive */
@media (max-width: 768px) {
    .dashboard-container {
        width: 100%;
        padding: 10px;
    }

    .dashboard-item {
        /* flex-direction: column; */
        align-items: flex-start;
    }

    .dashboard-header h1 {
        font-size: 20px;
    }

    .footer-btn {
        padding: 8px 15px;
        font-size: 14px;
    }
}